.back{
  display: flex;
  height: 100vh;
}
.aside{
  width: 30%;
}
.back .aside li{
}
.aside .ant-menu-submenu-title {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 2.0rem;
  line-height: 5rem;
  height: 5rem;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item{
  font-size: 1.4rem;
}
.article{
  width: 70%;
  font-size: 1.6rem;
}
.top{
  opacity: 0.6;
  background:#108ee9;
  height: 5rem;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 5rem;
}
